@import url('https://fonts.googleapis.com/css?family=Muli&display=swap')

* 
 box-sizing: border-box

// :root 
// 	--mood-color-1: #2d6b5f
// 	--mood-color-2: #72e3a6
// 	--mood-color-3: #dff4c7
// 	--mood-color-4: #edbf98
// 	--mood-color-5: #ea3d36

body 
	font-family: 'Muli'
	margin: 40px 0

h2 
	margin-bottom: 0

h4 
	font-weight: 100
	margin: 5px 0 20px

p 
	margin: 5px 0

.container 
	max-width: 1000px
	margin: 0 auto
	padding: 0 30px
	text-align: center

.priority_container 
	display: flex
	justify-content: center
	align-items: center

.priority 
	background-color: #fff
	border: 1px solid black
	border-radius: 50%
	color: #000
	display: inline-flex
	justify-content: center
	align-items: center
	font-size: 30px
	line-height: 20px
	padding: 0
	margin: 0 5px
	height: 45px
	width: 45px
	text-align: center
 &:hover,
 &:active,
 &:focus
  outline: 0
  transform: scale(1.01)
  transform: translateY(3px)

.priority_1 
	color: #2d6b5f

.priority_2 
	color: #72e3a6

.priority_3 
	color: #dff4c7

.priority_4 
	color: #edbf98

.priority_5 
	color: #ea3d36

.priority.selected 
	background-color: currentColor

.priority.selected i 
	color: #fff

.priority:active 
	transform: scale(0.9)

.priority:focus 
	outline: 0

.priority i 
	cursor: pointer

.calendar 
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: flex-start

.months 
	padding: 10px
	width: 33%

@media screen and (max-width: 756px) 
	.months 
		width: 50%	

@media screen and (max-width: 480px) 
	.months 
		width: 100%	

.months h3 
	margin: 5px 0
	text-align: center

.days_container,
.week_days_container 
	display: flex
	flex-wrap: wrap


.days,
.week_days 
	font-size: 14px
	margin-bottom: 5px
	height: calc(100% / 7)
	width: calc(100% / 7)
	text-align: center


.days .circle 
	background-color: #888
	border-radius: 50%
	color: #fff
	cursor: pointer
	display: inline-flex
	justify-content: center
	align-items: center
	font-size: 10px
	width: 20px
	height: 20px


.days .circle:hover 
	transform: scale(1.1)


.action_btn 
	border-radius: 10px 0 0 10px
	border: none
	color: #fff
	cursor: pointer
	font-size: 14px
	padding: 8px 12px
	margin: 0
	position: fixed
	right: 0
	top: 40px


.action_btn:active 
	transform: scale(0.9)


.action_btn:focus 
	outline: 0


.randomize 
	background-color: var(--mood-color-2)


.clear 
	background-color: #888
	top: 80px

